@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.border-1 {
  border-width: 1px;
}
.bg-primary {
  background-color: #23252a;
}
.bg-secondary {
  background-color: #4f5155;
}
.heading {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
}
.hide-scrollbar-x {
  overflow-x: "hidden";
}
.btn-main {
  @apply bg-emerald rounded-3xl px-5 py-3;
}
.active {
  @apply border-b-2 border-emerald;
}

/*=====================responisve-codes=========================*/
@media (max-width: 768px) {
  .heading {
    font-size: 28px;
  }
}
