@tailwind base;
@tailwind components;
@tailwind utilities;

.border-1 {
  border-width: 1px;
}
.bg-primary {
  background-color: #23252a;
}
.bg-secondary {
  background-color: #4f5155;
}
.heading {
  font-size: 58px;
}
.btn-primary {
  @apply bg-green-600;
}
.active {
  @apply border-b-2 border-emerald;
}

/*=====================responisve-codes=========================*/
@media (max-width: 768px) {
  .heading {
    font-size: 28px;
  }
}
